<h2>Details</h2>

<div class="container">

  <p>
    <h3>
      <strong>Title: </strong>
    </h3>
    <%= @content.title %>
    
  </p>
  <p>
    <h3>
      <strong>Description: </strong>
    </h3>
    <%= @content.description %>
  </p>
  <p>
    <h3>
      <strong>User: </strong>
    </h3>
    <%= @content.user.email %>
  </p>
</div>