@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  font-family: 'Roboto', sans-serif;
}
html, body {
  padding: 0;
  margin: 0;
}
body {
  background-color: rgb(231, 231, 231);
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.hr_custom_divisor{
  width: 90vw;
  color: rgba(0, 0, 0, 0.13);
}
form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.custom_msg {
  background-color: grey;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid black;
  color: white;
}
.alert {
  background-color: rgba(255, 0, 0, 0.356);
  border: 2px solid rgba(255, 0, 0, 0.486);
}
.notice {
  background-color: rgba(0, 4, 255, 0.356);
  border: 2px solid rgba(0, 4, 255, 0.486);
}